.DS_Store
*.swp
simple.html.orig
simple_BACKUP_3479.html
simple_BACKUP_3669.html
simple_BASE_3479.html
simple_BASE_3669.html
simple_LOCAL_3479.html
simple_LOCAL_3669.html
simple_REMOTE_3479.html
simple_REMOTE_3669.html